{% set sys_msg = "あなたは日本語を話す優秀なアシスタントです。回答には必ず日本語で答えてください。" %}[INST] <<SYS>>
{{ sys_msg }}
<</SYS>>

{% for message in messages %}{% if message['role'] == 'user' %}{{ message['content'].strip() }}{% endif %}{% endfor %}[/INST]